.cartPage {
  margin-block: 10px;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gray;
  p {
    font-weight: 700;
    font-size: 1.25rem;
  }
}

.cartItems {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.545);
}

.button {
  width: 100%;
  display: block;
  background-color: var(--dark-red);
  color: wihte;
  transition: 0.25s all;
  border: none;

  &:hover {
    background-color: var(--orange);
    color: var(--dark-red);
    cursor: pointer;
  }
}
